<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team5.ubs">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginPage" />
        <activity android:name=".EntryScreen" />
        <activity android:name=".Regsiter" />
        <activity
            android:name=".feedpage"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".cluboptions" />
        <activity android:name=".listofclubs" />
        <activity android:name=".clubdetails" />
        <activity android:name=".createClub" />
        <activity android:name=".profile_page" />
        <activity android:name=".clubfeed" />
        <activity android:name=".add_clubFeed" />
        <activity android:name=".myclubs" />
        <activity android:name=".market_feed" />
        <activity android:name=".CreateMarketFeed" />
        <activity android:name=".market_info" />
        <activity android:name=".chatSeller" />
        <activity android:name=".commentActivity"></activity>
    </application>

</manifest>